<!-- NavBar -->
<nav class="navbar navbar-light light-blue lighten-4 navbar-expand-md">

  <!-- SushiMan Logo -->
  <div class="logo"><h3 class="red-p">SUSHI</h3><h3>MAN</h3></div>

  <!-- Collapse Menu button -->
  <button class="navbar-toggler toggler-example" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
    <span class="dark-blue-text"><i class="fas fa-bars fa-1x"></i></span>
  </button>

  <!-- Menu déroulant -->
  <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">

    <!-- Close button -->
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- Tabs -->
    <div class="offcanvas-body">
      <a href="#">MENU</a>
      <hr>
      <a href="#">FOODS</a>
      <hr>
      <a href="#">SERVICES</a>
      <hr>
      <a href="#">ABOUT US</a>
      <hr>
      <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
  </div>
</nav>

<div class="flex-desktop">
  <div class="red-background"></div>

  <div class="top-homepage">
    <div class="container">
      <h1>Feel the taste of Japanese foods</h1>
      <div class="description">
        <%=image_tag("sushi.svg", class: "sushi")%>
        <p>Feel the taste of most popular Japanese foods from anywhere and anytime.</p>
      </div>

      <div id="flex-link">
        <button class="black-button">Order Now</button>
        <a href=# class="link"><i class="fa-regular fa-circle-play"></i>How to Order</a>
      </div>
    </div>

    <div class="cream-background">
      <div class="container" id="cream-flex">
        <div class="flex">
          <h2>24K+</h2>
          <p>Happy Customer</p>
        </div>
        <hr>
        <div class="flex">
          <%=image_tag("avatar.jpg", class: "avatar")%>
          <p id="cream-para">"This is the best Japanese food delivery service that ever exist"</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex-desktop">
  <div class="cream-background-desktop">
    <div class="width100">
      <div id="height170">
        <%=image_tag("sushi2.svg", class: "sushi2")%>
        <%=image_tag("signes.svg", class: "signes")%>
      </div>
      <div class="white-background"><button class="black-button black-button-desktop">Learn More</button></div>
      <div>
        <%=image_tag("sushi3.svg", class: "sushi3")%>
        <%=image_tag("signes2.svg", class: "signes2")%>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flex-start"><p class="red-p">About Us / <p class="red-p light-weight">ツるル漢文今日み</p></p></div>
    <h2 id="red-p-h2">Our mission is to bring true Japanese flavours to you.</h2>
    <p>We will continue to provide the experience of Omotenashi, the Japanese mindset of hospitality, with ou shopping and dining for our customers.</p>
  </div>
</div>
